In [1]:
import pandas as p

In [2]:
df=p.read_csv('Mini Project (Responses).csv')
df2=p.read_csv('Student.csv')

In [3]:
df=df.fillna(0)
df=df.astype({"Class Roll of Member 5": int}) 
df.head(2)

,Timestamp,Project domain/Project topic,Describe your project shortly (Project Abstract),Class Roll of Member 1,Class Roll of Member 2,Class Roll of Member 3,Class Roll of Member 4,Class Roll of Member 5,Name of you Group
0,3/26/2020 1:13:20,ML integrated web application,Our web application should take input as a han...,65,80,83,110,0,B Creative
1,4/3/2020 15:22:12,Fitness Management System,It will contain 3 module.\n1)Admin can access\...,67,87,89,90,91,Runtime Terror

In [4]:
df2.head(2)

   Class Roll  STUDENT'S NAME
0        63.0  PRAKRITI GHOSH
1        64.0    PRALAY GHOSH

In [5]:
df3=p.DataFrame(columns=['Group No.','Group Name','Roll','Members','Project Name','Project Details'])

In [6]:
count=0
for i in range(len(df['Timestamp'])):
    df3.at[count,'Group No.']=i+1
    df3.at[count,'Group Name']=df.at[i,'Name of you Group']
    df3.at[count,'Project Name']=df.at[i,'Project domain/Project topic']
    df3.at[count,'Project Details']=df.at[i,'Describe your project shortly (Project Abstract)']
    for j in range(3,8):
        for k in range(0,68):
            if (df.iat[i,j]==df2.iat[k,0]):
                df3.at[count,'Roll']=int((df2.iat[k,0]))
                df3.at[count,'Members']=df2.iat[k,1]
                count+=1
                break
df3['Roll'].astype(int)
df3.to_csv('output.csv',index=False)
df3

,Group No.,Group Name,Roll,Members,Project Name,Project Details
0,1,B Creative,65,PRITIMOY SARKAR,ML integrated web application,Our web application should take input as a han...
1,NaN,NaN,80,SANDIPAN SAU,NaN,NaN
2,NaN,NaN,83,SASWATA MUKHOPADHYAY,NaN,NaN
3,NaN,NaN,110,SUPRIYO DAS,NaN,NaN
4,2,Runtime Terror,67,PUJA KAR,Fitness Management System,It will contain 3 module.\n1)Admin can access\...
5,NaN,NaN,87,SHIRSHA SEN,NaN,NaN
6,NaN,NaN,89,SHOUVIK GHOSH,NaN,NaN
7,NaN,NaN,90,SHREETI PANDEY,NaN,NaN
8,NaN,NaN,91,SHUBHAM KUMAR NANDI,NaN,NaN
9,3,Bong_Squard,102,SOUVIK PATRA,Health care web application,It simply customer can take any kind of health...
10,NaN,NaN,97,SOUMYA CHAKRABORTY,NaN,NaN
11,NaN,NaN,100,SOURAV JANA,NaN,NaN
12,NaN,NaN,101,SOUVIK LASKAR,NaN,NaN
13,NaN,NaN,122,ARINDAM GHOSH,NaN,NaN
14,4,The Optimizers,63,PRAKRITI GHOSH,Software based project on PHP & MYSQL,Online Birth Certification System
15,NaN,NaN,113,SWARNADIPA CHAKRABORTY,NaN,NaN
16,NaN,NaN,128,SUSANTA DAS (L),NaN,NaN
17,NaN,NaN,129,MAYNAK KARMAKAR (L),NaN,NaN
18,NaN,NaN,130,NISHA MONDAL (L),NaN,NaN
19,5,Code_Unity,126,SUBHADEEP DEBROY (T),ECG Visualiser,A car remote controlled using smart phone can ...
20,NaN,NaN,123,ARHIT CHATTERJEE,NaN,NaN
21,NaN,NaN,66,PROMISE DUTTA,NaN,NaN
22,NaN,NaN,109,SUNIL MAITY,NaN,NaN
23,NaN,NaN,70,RAHUL CHAKRABORTY,NaN,NaN
24,6,0,72,RAJVIR SINGH,Online ticket booking website,Theatre movie ticket booking system using mvc ...
25,NaN,NaN,69,QAISAR RAZA KAIFI,NaN,NaN
26,NaN,NaN,81,SANJEEBAN SINGH,NaN,NaN
27,NaN,NaN,79,SANDEEP KUMAR SHAW,NaN,NaN
28,7,Zizzle Stark,77,RUMON MUKHERJEE,Alexa,It is a type of assistant that responds to a u...
29,NaN,NaN,75,RITTIKA CHAKRABORTY,NaN,NaN
30,NaN,NaN,73,RIMA PANJA,NaN,NaN
31,NaN,NaN,84,SAYAN CHOWDHURY,NaN,NaN
32,NaN,NaN,88,SHOURAV GHOSH,NaN,NaN
33,8,The Learners,64,PRALAY GHOSH,Machine Learning,Implementation of a machine learning model
34,NaN,NaN,82,SANKHA MONDAL,NaN,NaN
35,NaN,NaN,76,ROHIT SHAW,NaN,NaN
36,NaN,NaN,71,RAHUL KUMAR YADAV,NaN,NaN
37,NaN,NaN,116,TANMAY NATH,NaN,NaN
38,9,Nothing Special,104,SRIJIT PAL,Web Development with ML,Development of Blood Bank Management Website
39,NaN,NaN,103,SRIJEETA ROUTH,NaN,NaN
40,NaN,NaN,74,RITAMA SHARMA,NaN,NaN
41,NaN,NaN,105,SUBHADITYA SAHA,NaN,NaN
42,NaN,NaN,120,SIBAPRASAD MANNA,NaN,NaN
43,10,Mind Units,86,SHASHWATA GHOSH,Face Recognization Based Attendance System,Face Recognition based attendance system is a ...
44,NaN,NaN,92,SINJANA SAHA,NaN,NaN
45,NaN,NaN,96,SOME SEKHAR BANERJEE,NaN,NaN
46,NaN,NaN,106,SUBHAJIT SARKAR,NaN,NaN
47,NaN,NaN,117,TIRTHO BISWAS,NaN,NaN
48,11,Binary Beast,93,SNEHANDU CHANDA,Suicide prediction,The project aims to analyze the suicide rate i...
49,NaN,NaN,94,SNIGDHA MAZUMDAR,NaN,NaN
50,NaN,NaN,108,SUBHASREE MANDAL,NaN,NaN
51,NaN,NaN,118,TRIYASHA KUNDU,NaN,NaN
52,12,Penta Clan,119,UDAYADITYA SASMAL,Sentiment Analysis,The model predicts if there's any word with ne...
53,NaN,NaN,125,ANIK DUTTA,NaN,NaN
54,NaN,NaN,112,SUSMITA GOSWAMI,NaN,NaN
55,NaN,NaN,107,SUBHADEEP DAS,NaN,NaN
56,NaN,NaN,68,PURBASHA HATUI,NaN,NaN