In [1]:
import pandas as p

In [2]:
df=p.read_csv('Mini Project (Responses).csv')
df2=p.read_csv('Student.csv')

In [3]:
df.head(2)

,Timestamp,Project domain/Project topic,Describe your project shortly,Class Roll of Member 1,Class Roll of Member 2,Class Roll of Member 3,Class Roll of Member 4,Class Roll of Member 5
0,3/26/2020 1:13:20,ML integrated web application,Our web application should take input as a han...,65,80,83,110,NaN

In [4]:
df2.head(2)

   Class Roll  STUDENT'S NAME
0        63.0  PRAKRITI GHOSH
1        64.0    PRALAY GHOSH

In [5]:
df3=p.DataFrame(columns=['Group No.','Roll','Members','Project Name','Project Details'])

In [6]:
count=0
for i in range(len(df['Timestamp'])):
    df3.at[count,'Group No.']=i+1
    df3.at[count,'Project Name']=df.iat[count,1]
    df3.at[count,'Project Details']=df.iat[count,2]
    for j in range(3,8):
        for k in range(0,68):
            if (df.iat[i,j]==df2.iat[k,0]):
                df3.at[count,'Roll']=int((df2.iat[k,0]))
                df3.at[count,'Members']=df2.iat[k,1]
                count+=1
                break
df3['Roll'].astype(int)
df3.to_csv('output.csv',index=False)
df3

,Group No.,Roll,Members,Project Name,Project Details
0,1,65,PRITIMOY SARKAR,ML integrated web application,Our web application should take input as a han...
1,NaN,80,SANDIPAN SAU,NaN,NaN
2,NaN,83,SASWATA MUKHOPADHYAY,NaN,NaN
3,NaN,110,SUPRIYO DAS,NaN,NaN